.btn {
  border: none;
  outline: none;
  background: lightgreen;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-disabled {
  border: none;
  outline: none;
  background: lightcoral;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn-watchlist {
  border: none;
  outline: none;
  background: rgb(40, 42, 40);
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
