.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 16px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 250px;
  flex-direction: column;
}

.movie-poster {
  width: inherit;
  height: fit-content;
  object-fit: cover;
  margin-right: 16px;
  cursor: pointer;
}

.movie-info {
  flex-grow: 1;
}

.movie-title {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5px;
  cursor: pointer;
}

.movie-release-date {
  font-size: 14px;
  color: #777;
}

.link {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}

.movie-overview {
  margin-top: 12px;
  margin-bottom: 16px;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-popularity {
  margin-top: 12px;
  font-weight: bold;
}
.header-filter {
  width: 95vw;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  position: fixed;
  background: whitesmoke;
}

.drop-button {
  background-color: white;
  color: black;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: Baloo, sans-serif;
  width: 152px;
  border: 1px solid black;
}
.drop-button:hover,
.drop-button:focus {
  background-color: rgb(253, 247, 247);
}

.dropdown-content {
  position: absolute;
  overflow: hidden;
  width: 150px;
  list-style-type: none;
  top: 26px;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}
.dropdown-content div {
  padding: 10px 5px;
}
.scrollDiv div:hover {
  background: rgb(253, 247, 247);
}
.scrollDiv {
  max-height: 300px;
  overflow-y: auto;
}

.btn-action {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
