.btn {
  border: none;
  outline: none;
  background: lightgreen;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-disabled {
  border: none;
  outline: none;
  background: lightcoral;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 16px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 250px;
  flex-direction: column;
}

.movie-poster {
  width: inherit;
  height: fit-content;
  object-fit: cover;
  margin-right: 16px;
  cursor: pointer;
}

.movie-info {
  flex-grow: 1;
}

.movie-title {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5px;
  cursor: pointer;
}

.movie-release-date {
  font-size: 14px;
  color: #777;
}

.link {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}

.movie-overview {
  margin-top: 12px;
  margin-bottom: 16px;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-popularity {
  margin-top: 12px;
  font-weight: bold;
}
